Django==4.1.7
django-cors-headers==3.14.0
django-extensions==3.2.1
djangorestframework==3.14.0
drf-yasg==1.21.5
pillow==9.4.0

--extra-index-url https://download.pytorch.org/whl/torch_stable.html
torch==1.9.0+cu111
--extra-index-url https://download.pytorch.org/whl/torch_stable.html
torchvision==0.10.0+cu111
--extra-index-url https://download.pytorch.org/whl/torch_stable.html
torchaudio==0.9.0

ninja
xatlas
gdown

git+https://github.com/NVlabs/nvdiffrast/

meshzoo
ipdb
imageio
gputil
h5py
point-cloud-utils
imageio
imageio-ffmpeg==0.4.4
pyspng==0.1.0

urllib3
scipy
click
tqdm
opencv-python==4.5.4
